<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">


    <div class="carousel-item active" style=" height: 75vh;">

      <div class="bag-outer-bubble d-none d-md-flex" style="">
        <div class="bag-inner-bubble" style="">
          <img style="height: 125px; margin-left: -22px; " class=" " src="\bags-removebg-preview.png" alt="">
        </div>
      </div>

      <!-- <div class="bottle-bubble" style="">
        <img style="height: 200px; margin-top: -24px;" class=" " src="\bottles-removebg-preview.png" alt="">
      </div> -->

      <div class="bottle-bubble d-none d-md-flex" style="">
        <div class="bag-inner-bubble" style="">
          <img style="height: 200px; margin-top: -35px; margin-left: 8%;" class=" " src="\hoodie-removebg-preview.png" alt="">
        </div>
        
      </div>

      <div class="bottom-bubble d-none d-md-flex" style=" ">
        <div class="bottom-inner-bubble"><img style="height: 180px;margin-top: -35px;margin-left: 10%;" class=" " src="\bottles-removebg-preview.png" alt=""></div>
        
      </div>

      <!-- <div class="card" >
        <img style="height: 350px; margin-top: -30px;" class=" " src="\bottles-removebg-preview.png" alt="">
            <img style="height: 24vh ;" src="\purple-deco-hamper.png" alt=""> 
            
      </div> -->


    


      <div class="container  title-content" >
        <div style="border-radius: 50%; background-color: #fdd500; height: 115vh; min-height: 350px; margin-left: -560px; margin-top: -250px;position: absolute;
        top: 0;
        left: 0;
        width: 100%;"></div>
        <div class="row pt-5 px-2 mt-1"  style="position: relative;" >
          <div class="col-md-4 col-lg-3 col-sm-2 px-5 "><h1 class=" title">Louis</h1></div> 

          
        </div>
        <div class="row " style="position: relative;">
          <div class="col-md-6 col-lg-7 col-sm-12 px-5 tagline">
            <h2>The art of corporate gifting, <b> Redefined!</b></h2>
          </div>
          <div class="card d-none d-md-flex "  style="left: 55%; top: -2rem;" >
            <img style="height: 180px; margin-top: 40px;" class=" " src="" alt=""> 
            <div style="text-align: center; color: #01b4ba; margin-top: 35px; line-height: 0.7;"> <h3>Tech</h3> 
              <!-- <p>1053 more options to choose and customize!</p> -->
            </div> 
          </div>
          <div class="card  d-none d-md-flex"  style="left: 77%;top: -2rem;">
            <img style="height: 300px; margin-top: -20px; margin-right: -12px;" class=" " src="\mugs-removebg-preview.png" alt=""> 
            <div style="text-align: center; color: #fdd500; margin-top: -30px; line-height: 0.7;"> <h3>Drinkware</h3> 
              <!-- <p>Infinite shapes and colours to make your own!</p> -->
            </div> 
          </div>

          
          
        </div>
        <div class="row pt-2 px-lg-4 px-md-5" style="position: relative; z-index: 1;">
          <div class="col-md-3 col-sm-6">
            <button class="button" style="color: #ffffff;font-weight: 800; font-size: 22px;"> Explore </button>
          </div>
        </div>
        <div class="row pt-2 px-lg-4 px-md-5" style="position: relative; z-index: 1;">
          <div class="col-md-5 col-sm-6">
            <form   (ngSubmit)="sendEmail()" #contactForm="ngForm">
              <input [(ngModel)]="formData.name" class="form" type="text" name="name"  placeholder="Name" required />
              <input [(ngModel)]="formData.email" class="form" type="email" name="email" placeholder="Email" required />
              <input [(ngModel)]="formData.priceRange" class="form "  type="text" name="price"  placeholder="Price range" required />
              <input [(ngModel)]="formData.quantity" class="form "  type="text" name="quantity"  placeholder="Quantity" required />
              <textarea [(ngModel)]="formData.message" class="form col-md-12 col-sm-12" name="message"  placeholder="What are you looking for?" required></textarea>
              <input [(ngModel)]="formData.options" class="form " type="checkbox" id="subscribeOptions">
              <label class="form " for="subscribeOptions"> Send me options in my price range</label> <br>
              <button class="button" style="color: #858282;font-weight: 800; font-size: 22px;" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
      
    </div>













    <div class="carousel-item " style="position: relative; height: 75vh">
      <img
        class="carousel-item-image"
        style="
          height: 750px;
          position: absolute;
          opacity: 0.5;
          top: 0;
          left: 0;
          width: 100%;
        "
        src="/DALL·E 2025-01-06 13.51.39 - A modern promotional product layout featuring a neutral color palette with beige, white, and soft gray. The composition includes items such as a sleek.webp"
        class="d-block w-100"
      />
      <div class="container pt-5 title-content">
        <div class="row">
          <h1 class="col-md-4 col-lg-3 col-sm-2 px-5 pt-3 title">Louis</h1>
        </div>
        <div class="row pt-2">
          <div class="col-md-12 col-lg-7 col-sm-12 px-5 tagline">
            <h2>The art of corporate gifting, <b> Redefined!</b></h2>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="carousel-item active" style="height: 750px; position: relative;">
        <img
          class="carousel-item-image"
          style="height: 750px; width: 100%; position: absolute; opacity: 0.5; top: 0; left: 0;"
          src="/DALL·E 2025-01-06 13.51.39 - A modern promotional product layout featuring a neutral color palette with beige, white, and soft gray. The composition includes items such as a sleek.webp"
          class="d-block w-100"
        />
        <div class="container pt-5 title-content" style="position: relative; z-index: 2;"> 
          <div class="row">
            <h1 class="col-md-4 col-lg-3 col-sm-2 px-5 pt-5 title">Louis</h1>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-7 col-sm-12 px-5 tagline">
              <h2>The art of corporate gifting, <b>Redefined!</b></h2>
            </div>
          </div>
        </div>
      </div> -->

    <div class="carousel-item" style="position: relative; height: 75vh">
      <img
        class="carousel-item-image"
        style="height: 750px; min-height: 300px"
        src="https://th.bing.com/th/id/OIP.geEspcN8sonuAmPHaDzCvAHaEo?w=296&h=185&c=7&r=0&o=5&dpr=2.5&pid=1.7"
        class="d-block w-100"
      />
    </div>
    <div class="carousel-item" style="position: relative; height: 75vh">
      <img
        class="carousel-item-image"
        style="height: 750px; min-height: 300px"
        src="https://i.pinimg.com/736x/87/4f/5a/874f5a33929c3998f4826e8dd8ba8d97.jpg"
        class="d-block w-100"
      />
      <div style="border-radius: 50%; color: #006400;" >

      </div>
    </div>
    
  </div>


  <button
    class="carousel-control-prev"
    style="opacity: 0.7; margin-left: 8vh; width: auto;"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-button" aria-hidden="true">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        fill="black"
        class="bi bi-caret-left-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
        /></svg></span>

    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    style="opacity: 0.7; margin-right: 8vh; width: auto;"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <div></div>
    <span class="carousel-button" aria-hidden="true"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        fill="black"
        class="bi bi-caret-right-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
        /></svg></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
