<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="carousel-item-image"
        style="max-height: 450px;"
        src="/main_image1.png"
        class="d-block w-50"
      />
    </div>
    <div class="carousel-item">
      <img
        class="carousel-item-image"
        style="max-height: 450px;"
        src="https://th.bing.com/th/id/OIP.geEspcN8sonuAmPHaDzCvAHaEo?w=296&h=185&c=7&r=0&o=5&dpr=2.5&pid=1.7"
        class="d-block w-50"
      />
    </div>
    <div class="carousel-item">
      <img
        class="carousel-item-image"
        style="max-height: 450px;"
        src="https://i.pinimg.com/736x/87/4f/5a/874f5a33929c3998f4826e8dd8ba8d97.jpg"
        class="d-block w-50"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    style="opacity: 1"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <div class="carousel-next-button">
      <span aria-hidden="true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          fill="black"
          class="bi bi-caret-left-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
          /></svg
      ></span>
    </div>

    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="" aria-hidden="true"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        fill="black"
        class="bi bi-caret-right-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
        /></svg
    ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
