
<div>
    <div class="d-flex  " style="height: 50vh; background-color: #fff5e3;">
        
        <img  src="\hamper-section-removebg.png" alt="">
        <div class="d-flex justify-content-center" style="padding-left: 100px; padding-top: 100px;">
            <div>
               <h1>Gift a Box of Delight to make</h1>
            <h1>your Colleagues feel special</h1>
            <div style=" padding-left: 200px;padding-top: 10px;">
                <button type="button" class="btn btn-warning" style="font-weight:500 ;">Hampers</button>
            </div> 
            </div>
            
        </div>
    </div>
</div>
<div style="height: 80vh">
  <!-- <img src="\hampers-pile-removebg.png" alt=""> -->
  <img class="img-fluid w-100 h-100" src="\footer-chatgpt.png" alt="" />
  <div style="height: 20vh; background-color: #3768d0; padding-top: 20px;">
    <div class="footer-content row px-5">
      <div class="col-md-4 px-5 d-flex justify-content-center">
        <div>
            <h3 >Registered Address</h3>
        <p>
          Louis 27th mahanth layout, Bull temple road Bangalore, Karnataka
          560004 India
        </p>
        </div>
        
      </div>
      <div class="col-md-4 px-5 d-flex justify-content-center">
        <div>
          <h3 >Corporate Office, Warehouse</h3>
          <p>
            66,louis omj, Off New BEL Rd, 4th cross road.Near mayuri signal, AGS
            Layout, Next to Punjab National Bank Bengaluru, 560054
          </p>
        </div>
      </div>
      <div class="col-md-4 px-5 d-flex justify-content-center">
        <div>
            <h3>Contact Us</h3>
        <div class="info-item d-flex align-items-center">
          <i class="bi bi-envelope-fill"></i>

          <a href="mailto:sales@louisgiftz.com"
            ><div>sales&#64;louisgiftz.com</div>
          </a>
        </div>
        <div class="info-item d-flex align-items-center">
          <i class="icon bi bi-telephone flex-shrink-0"></i>

          <div><a href="+91 9880262621">+91 9880262621</a></div>
        </div>
        <div class="info-item d-flex align-items-center">
          <i class="icon bi bi-telephone flex-shrink-0"></i>

          <div><a href="+91 9880783080">+91 9880783080</a></div>
        </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
    <div class="row footer-row">
        <div class="col-md-2 ">
            <div class="row-icons">
                <i class="bi bi-telephone-fill"></i>
            </div>
            <div>

                <p><a href="+91 9880262621">+91 9880262621</a></p>
                <p><a href="+91 9880783080">+91 9880783080</a></p>
            </div>
        </div>
        <div class="offset-md-1 col-md-3  justify-content-center">
            <div class=" d-flex justify-content-center">
                <div class="row-icons">
                <i class="bi bi-geo-alt-fill"></i> 
            </div></div>
            

            <div class="row" style="color: aliceblue;">
                <h5>Corporate Office, Warehouse</h5>
                <p> 66,louis omj, Off New BEL Rd, 4th cross road, near Mayuri Signal, AGS Layout, Next to Punjab National Bank Bengaluru, 560054</p>
            </div>
        </div>
        <div class="offset-md-1 col-md-2">
            <div class="row-icons">
                <i class="bi bi-envelope-fill"></i>
                
            </div>
            <div>
                
                    <a href="mailto:sales@louisgiftz.com"><p>sales&#64;louisgiftz.com</p> </a>
                
            </div>
        </div>
    </div>
</div> -->
