<div class="container">
    <div class="row footer-row">
        <div class="col-md-2 ">
            <div class="row-icons">
                <i class="bi bi-telephone-fill"></i>
            </div>
            <div>

                <p><a href="+91 9880262621">+91 9880262621</a></p>
                <p><a href="+91 9880783080">+91 9880783080</a></p>
            </div>
        </div>
        <div class="offset-md-1 col-md-3  justify-content-center">
            <div class=" d-flex justify-content-center">
                <div class="row-icons">
                <i class="bi bi-geo-alt-fill"></i> 
            </div></div>
            

            <div class="row" style="color: aliceblue;">
                <h5>Corporate Office, Warehouse</h5>
                <p> 66,louis omj, Off New BEL Rd, 4th cross road, near Mayuri Signal, AGS Layout, Next to Punjab National Bank Bengaluru, 560054</p>
            </div>
        </div>
        <div class="offset-md-1 col-md-2">
            <div class="row-icons">
                <i class="bi bi-envelope-fill"></i>
                
            </div>
            <div>
                
                    <a href="mailto:sales@louisgiftz.com"><p>sales&#64;louisgiftz.com</p> </a>
                
            </div>
        </div>
    </div>
</div>