.footer-row{
    background-color: black;
    justify-content: center;
}

.container{

    // color: black;
    
}
.footer-content{
    color: white;
    text-align: center;
}

.bi-telephone-fill{
   
   
}

i{
  color: white;
  padding: 0 5px;
//   font-size: 60px;  
}

a{
    text-decoration: none;
    color: white;
}

.row-icons{
    display: flex;
    justify-content: center;
    border-radius: 50%; background-color: rgb(65, 170, 170); width: 100px; margin-top: -15%;
}