<!-- <div class="container-fluid img-fluid position-relative p-0 ">
    <img class="img-fluid w-100" src="\orange-graphic-bg.png" alt="">
    <div class=" position-absolute top-50 start-50 translate-middle">
        <img  src="\products-1-home-page.png" alt="Product" class="img-fluid w-100">
      </div>
    
</div> -->

<div class="container-fluid position-relative p-0" style="height: 80vh; overflow: hidden;">
    <!-- Background Image -->
    <img src="\orange-graphic-bg.png" alt="Background" class="img-fluid w-100 h-100" style="object-fit: cover; position: absolute; top: 0; left: 0; z-index: 0;">
  
    <!-- Overlay Image -->
    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center" style="z-index: 1; padding: 0 2vw;">
      <img src="\products-3-home-page.png" alt="Product" style="height: 100%; width: auto; max-width: 100%;">
    </div>
  </div>