<section id="process" class="chefs section-bg " >
    <div class="container-fluid " data-aos="fade-up">

      <div class="row  section-header">
        <h2 class="row justify-content-center">How</h2>
        <p class="row justify-content-center">Our Process Works</p>
      </div>

      

      <div class="row cards gy-4 ">

        <div class="offset-lg-1 col-lg-2 col-md-6 " style="height: 100%;">
          <div class="card px-3 chef-member">
           

            <div class=" content">
                <div class=" member-img">
              <img src="./order&enquire (1).png" class="img-fluid" alt="">
              
            </div>
            <div class="member-info">
              <div class="title">Enquire and order </div>
              <span></span>
              <p class="description">
                "Inquire, Secure Gifts – Seamless Process for Your Convenience."</p>
            </div>
            </div>
            
          </div>
        </div><!-- End Chefs Member -->

        <div class="col-lg-2 col-md-6" style="height: 100%;">
          <div class="card px-2 ">
            <div>
                <div class="member-img">
              <img src="./artwork approval.png" class="img-fluid" alt="">
              
            </div>
            <div class="member-info">
              <div class="title">Artwork approval
              </div>
              
              <p class="description">
                Confirm your art: Seamless approval for impeccable customization.
              </p>
            </div>
            </div>
            
          </div>
        </div>

        <div class="col-lg-2 px-2 col-md-6  align-items-stretch" >
          <div class="card px-3 pt-2 chef-member">
            <div class="member-img">
              <img src="./branding&processing.png" class="img-fluid" alt="">
              
            </div>
            <div class="member-info" style="margin-top: -8px;">
              <div class="title">Branding & Processing</div>
              <p class="description">

                Crafting Identity, Elevating Quality – Our Distinctive Branding Process.
                </p>
                <div></div>
            </div>
          </div>
        </div>

        <div class="col-lg-2 px-2  col-md-6  align-items-stretch" >
          <div class="card px-3 chef-member">
            <div class="member-img">
              <img src="./packaging&dispatch.png" class="img-fluid" alt="">
              
            </div>
            <div class="member-info">
              <div class="title">Packaging & Dispatch</div>
              
              <p class="description">Elegant packaging, timely delivery – gifts, meticulously prepared.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-2 px-2 col-md-6  align-items-center" >
          <div class="card px-3 chef-member">
            <div class="member-img ">
              <img src="./doorstep-delivery.png" class="img-fluid" alt="">
              
            </div>
            <div class="member-info">
              <div class="title">Doorstep delivery</div>
              <p class="description">
                Global delivery – excellence at your doorstep, swift and hassle-free.</p>
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="row gy-3" style="margin-top: 20px;"> -->

        

        
        <!-- </div> -->
       

      </div>
      
    
     
    </section>

   
   
