<section id="process" class="section-bg " >
    <div class="container " data-aos="fade-up">

      <div class="section-header">
        <h2>How</h2>
        <p>Our <span>Process</span> Works</p>
      </div>

      <div class="row gy-4 ">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="chef-member">
            <div class="member-img">
              <img src="./order&enquire (1).png" class="img-fluid" alt="">
              
            </div>
            <div class="member-info">
              <h4>Enquire and order </h4>
              <span></span>
              <p>
                "Inquire, Secure Gifts – Seamless Process for Your Convenience."</p>
            </div>
          </div>
        </div><!-- End Chefs Member -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="chef-member">
            <div class="member-img">
              <img src="./artwork approval.png" class="img-fluid" alt="">
              
            </div>
            <div class="member-info">
              <h4>Artwork approval


              </h4>
              <span>Patissier</span>
              <p>
                "Confirm your art: Seamless approval for impeccable customization."
                
                
                </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="chef-member">
            <div class="member-img">
              <img src="./branding&processing.png" class="img-fluid" alt="">
              
            </div>
            <div class="member-info">
              <h4>Branding and processing</h4>
              <p>

                "Crafting Identity, Elevating Quality – Our Distinctive Branding Process."
                </p>
            </div>
          </div>
        </div>

      </div>
      <div class="row gy-3" style="margin-top: 20px;">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="chef-member">
            <div class="member-img">
              <img src="./packaging&dispatch.png" class="img-fluid" alt="">
              
            </div>
            <div class="member-info">
              <h4>Packaging and Dispatch</h4>
              <span></span>
              
              <p>
                "Elegant packaging, timely dispatch – your gifts, meticulously prepared and delivered."</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="chef-member">
            <div class="member-img">
              <img src="./doorstep-delivery-1.png" class="img-fluid" alt="">
              
            </div>
            <div class="member-info">
              <h4>Doorstep delivery</h4>
              <p>
                "Global delivery, bringing excellence to your doorstep, hassle-free and swift."</p>
            </div>
          </div>
        </div>

        
        </div>
       

      </div>
      
    
     
    </section>
