.section-bg{
    
    background: linear-gradient(to bottom, #ac64b1dc 70%, #ffffff 30%);
    height: 50%;
    --mask:
    radial-gradient(57.63px at 50% 81px,#000 99%,#0000 101%) calc(50% - 90px) 0/180px 100%,
    radial-gradient(57.63px at 50% -36px,#0000 99%,#000 101%) 50% 45px/180px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }

  .section-header{
    padding-top: 80px;
    color: #ffffff;
  }


  .member-img{
    // padding: 18px 0;
    height: 225px;
  width: 23vh;
  // object-fit: cover;
  // height: 100%;
  // width: 100%;


  display: flex;
 

  }


  .img-fluid{
    // max-width: 30vh; 
    align-self: center;
    max-height: 100%;
  max-width: 80%;         /* Prevent it from going too small or too large */
  height: auto;
  width: auto;
  }

  // .member-info{
  //   font-size: medium;
  //   text-align: center;
  //   height: 100%;
  // }

  .member-img {
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center;      /* Vertically center if needed */
    height: 200px;
    width: 100%;              /* Full width of the card */
    padding: 10px;
  }

.title{
  font-size: 19px;
  font-weight: 600;
}

.description{
  font-size: 12px;
}
@keyframes mymove {
  from {bottom: 0px;}
  to {bottom: 10px;}
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
.card{
  // transition: all ease-in-out 0.4s;
  animation-delay: 0s;
  animation: pulsate-btn 5s;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-timing-function: steps;

  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents inside */
  justify-content: space-between;
  text-align: center;
  height: 100%;
}