<div style="background-color: #483548">
  <div class="container-fluid py-5">
    <div class="row align-items-center " >
      <div class="col-md-7 d-flex justify-content-center" style="height: auto">
        <h1 class="groovy-text" style="color: 
#daab68">Diwali Hamper</h1>
      </div>
      <div class="col-md-5 px-0" >
        <!-- <div style="background-color: #ded7c7; border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;" class="d-flex justify-content-center">
            
        </div> -->
        <img style=" border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;" class="img-fluid  full-height"  src="\hamper-diwali.png" alt="">
      </div>
    </div>

    <div class="row align-items-center " >
        
        <div class="col-md-5 px-0" >
          <!-- <div style="background-color: #ded7c7; border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;" class="d-flex justify-content-center">
              
          </div> -->
          <img style=" border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;" class="img-fluid  full-height"  src="\hamper-eid.png" alt="">
        </div>

        <div class="col-md-7 d-flex justify-content-center" style="height: auto">
          <h1 class="groovy-text" style="color: #daab68">Eid Hamper</h1>
        </div>
      </div>

      <div class="row align-items-center " >
        <div class="col-md-7 d-flex justify-content-center" style="height: auto">
          <h1 class="groovy-text" style="color: 
  #daab68">Christmas Hamper</h1>
        </div>
        <div class="col-md-5 px-0" >
          <!-- <div style="background-color: #ded7c7; border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;" class="d-flex justify-content-center">
              
          </div> -->
          <img style=" border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;" class="img-fluid  full-height"  src="\hamper-christmas.png" alt="">
        </div>
      </div>

      <div class="row align-items-center " >
        
        <div class="col-md-5 px-0" >
          <!-- <div style="background-color: #ded7c7; border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;" class="d-flex justify-content-center">
              
          </div> -->
          <img style=" border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;" class="img-fluid  full-height"  src="\hamper-joining-kit.png" alt="">
        </div>

        <div class="col-md-7 d-flex justify-content-center" style="height: auto">
          <h1 class="groovy-text" style="color: #daab68">Corporate Joining Kit</h1>
        </div>
      </div>
  </div>
</div>
